/**
 * base
 */

@font-face {
  font-family: 'futura-pro-book';
  src: url('../fonts/futura-pro-book.woff2') format('woff2');
}

@font-face {
  font-family: 'futura-condensed';
  src: url('../fonts/futura-condensed.woff2') format('woff2');
}


html {
  overflow: hidden;
  font-size: 32px;
}

p {
  font-family: 'futura-condensed';
  margin-bottom: 20px;
}

.counter,
.counter-text,
.button {
  text-transform: uppercase;
}

.hero.is-bbh {
  color: white;
  background-position: center;
  background-size: cover;
  text-align: start;
}

.hero.bg-intro { background-image: url(../img/bg-intro.png); }
.hero.bg-quiz  { background-image: url(../img/bg-quiz.png); }

.hero.is-bbh.is-fullheight > .hero-content {
  justify-content: flex-start;
}

.hero-header {
  margin-top: 25px;
}

.hero-header .container {
  max-width: none;
  width: 1180px;
}

.hero-header.hidden {
  visibility: hidden;
}

.counter,
.counter-text {
  font-family: 'futura-condensed';
  font-size: 24px;
  padding: 0 8px;
}

.counter-bg {
  background-color: #b3b3b3;
  position: absolute;
  top: 0;
  height: 69px;
  width: 36px;
}

:lang(de) .counter-bg {
  right: 116px;
}

:lang(en) .counter-bg {
  right: 106px;
}

.hero-content {
  padding: 0;
  position: relative;
}

.hero-content > .container {
  padding: 0 30px 30px 30px;
  margin-top: 100px;
  margin-left: 215px;
  max-width: none;
  /*width: 850px;*/
}

.hero-content > .container .title {
  font-size: 45px;
}

.header-item .button,
.button.header-item {
  color: white;
  background-color: #b3b3b3;
}

.header-item .button:hover,
.header-item .button:active {
  color: #b3b3b3;
  background-color: white;
}

.hero .header .container {
  box-shadow: none;
}

.button,
.button:focus {
  font-family: 'futura-condensed';

  color: white;
  background-color: #b3b3b3;
  border: 0;
  /*line-height: 0;*/
}

.button.is-medium {
  /*height: 60px;*/
  font-size: 25px;
}

.button.is-large {
  height: 60px;
  font-size: 44px;
}

.button:hover,
.button:active {
  color: #b3b3b3;
  background-color: white;
}

.button,
.notification {
  border-radius: 0;
}

/**
 * button arrow icon
 */
/* after */
.button.arrow-after.arrow-big {
  padding-right: 80px;
}

.button.arrow-after.arrow-big::after {
  display: block;
  content: '▶︎';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  height: 22px;
  width: 47px;
  font-size: 36px;
}

/* before */
.button.arrow-before.is-large {
  padding-left: 80px;
}

.button.arrow-before.is-medium {
  padding-left: 60px;
}

.button.arrow-before::before {
  display: block;
  content: '◀︎';
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;

  top: 0;
  bottom: 0;
  margin: auto;
}

.button.arrow-before.is-large::before {
  font-size: 36px;
  left: 0.5em;
  height: 22px;
}

.button.arrow-before.is-medium::before {
  font-size: 21px;
  left: 0.5em;
  height: 22px;
  /*width: 30px;*/
}

#header .intro-button::before {
  content: '◀︎';
}

#quiz-button,
#score .intro-button {
  position: absolute;
  bottom: 100px;
  right: 140px;
}

/**
 * language
 */

#languageoverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  background-image: url(../img/bg-language.png);
}

#languageoverlay .hero-content {
  justify-content: center;
}

.language-button {
  width: 230px;
  margin-bottom: 10px;
}



/**
 * intro
 */

#score > .container,
#intro > .container {
  padding: 0;
  margin: 0;
  margin-left: 800px;
  width: 400px;
}

#intro-text-1 {
  font-family: 'futura-pro-book';
  line-height: 1.1em;
}

#intro-text-2 {
  font-family: 'futura-pro-book';
  font-weight: bold;
  font-size: 41px;
  line-height: 1.25em;
  text-transform: uppercase;
}

#quiz-button {
  padding-right: 135px;
}

/**
 * quiz
 */
.question.title {
  font-family: 'futura-pro-book';
  color: white;
  margin-bottom: 30px;
}

.answers {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
}

.answers > p {
  margin-bottom: 14px;
}

.answer.button {
  font-family: 'futura-pro-book';
  text-transform: none;
  height: 50px;
  font-size: 30px;
}

.answer.button.arrow-before::before {
  content: '▶︎';
  font-size: 26px;
}

.answer.clicked {
  background-color: white;
  color: #b3b3b3;;
}

/**
 * score
 */

#score-name {
  font-size: 72px;
}

#score-name,
#score p {
  font-family: 'futura-pro-book';
  margin-bottom: 0;
}
